* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    letter-spacing: .4px;
    overflow-x: hidden;
}
h1 {
    text-transform: uppercase;
    color: white;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}