*, :after, :before {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    text-transform: uppercase;
}

.btn-web {
    color: #fff;
    background-color: #926fb1;
    border-color: #926fb1;
    
}

