* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body{
    letter-spacing: .4px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    transition: 0.3s ease all;
}
h1 {
    text-transform: uppercase;
    color: white;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
    
    
   
}

#whole-page-container{
    position: relative;
    height: 100vh;
}

.fixed-position{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.bottom{
    padding-top: 0px;
}

.margin-width{
    @include mq('sm'){
        width:750px;
        margin-left: auto;
        margin-right: auto;
    }
    
    @include mq('md'){
        width: 970px;
        margin-left: auto;
        margin-right: auto;
    }
    
    @include mq('lg'){
        width:1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

//cookie popup

#cookie-container {
    display: none;
    &.shown {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background-color: rgba(0,0,0,.7);
        padding: 30px;
        overflow-y: auto;

    }
}

.cookie-inner {
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    background-color: $white;
    transition: transform .3s ease-out;
    color: #666;
    margin: auto;
    transform: translateY(0);
    @include mq('sm') {
        width: 600px;
        transform: translateY(20%);
    }
    .popup-header {
        padding: 15px 20px;
        min-height: 16.5px;
        border-bottom: 1px solid #e5e5e5;
        h3 {
            font-size: 1.625rem;
            font-weight: 400;
            color: #333645;
            line-height: 1.42857143;
            margin: 0;
        }
    }
    .popup-body {
        padding: 20px;
        line-height: 1.875rem;
        border-bottom: 1px solid #e5e5e5;
        p:first-of-type {
            margin-top: 0;
            margin-bottom: 25px;
        }
        p:last-of-type {
            margin: 0;
        }
    }
    .popup-buttons {
        display: flex;
        flex-direction: column;
        padding: 20px;
        button:first-of-type {
            margin-bottom: 30px;
            background-color: $button-grey;
            &:hover {
                background-color: #84858f;
            }
            @include mq('sm') {
                width: 50%;
                margin-right: 15px;
                margin-bottom: 0;
            }
        }
        button:last-of-type {
            background-color: $purple;
            &:hover {
                background-color: $purple2;
            }
            @include mq('sm') {
                width: 50%;
                margin-left: 15px;
            }
        }
        @include mq('sm') {
            flex-direction: row;
        }
    }
}
