#middle{
    position: absolute;
}

.card-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;

    .block.software:hover{
        background-color: #67809f;

        .icon-apps{
            background-color: #fff;
            color: #67809f;
        }

        .btn.btn-software{
            border-color: #fff;
            background-color: #fff;
            color: #67809f
        }

    }
 

    .block:hover{
        color: #fff;
        border-color: transparent;
        
        .line{
            background-color: #fff;
        }
    }

}

.card{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: #333645;
    text-align: center;

    h2{
        font-size: 1.125rem;
        position: relative;
        padding-bottom: 17px;
        margin: 0 0 11px;
       
    } 
    .line {
        width: 28px;
        height:3px;
        display: block;
        background-color: #333645;
        margin: 0 auto;


    }
    p{
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 13px;
        font-weight: 400;
        
    }  
    @include mq('xs'){
        flex: 1 1 100%;
        max-width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        &:last-child{
            margin-bottom: 0px;
        }
    }

}
.block {
    margin-top: 30px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);
}


.icon-apps{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 60px;
    height: 60px;
    background-color: #67809f;
    border: 0px solid transparent;
    border-radius: 50%;
    margin: 0 auto 17px;
    color: #fff;
    
    
}

.btn.btn-software {
    color: #fff;
    background-color: #67809f;
    border-color: #67809f;

    
}