#middle{
    @include mq('xs'){
		padding: 50px 0;
	}
	@include mq('sm'){
		padding: 50px 0;
	}
}

.card-row{
    display: flex;
    flex-flow:wrap;
    justify-content: center;
    margin: auto;
	@include mq('xs'){
		width: 100%;
	}
	@include mq('sm'){
		width: 750px;
	}
	@include mq('md'){
		width: 970px;
	}
	@include mq('lg'){
		width: 1200px;
	}
    

    .card:hover{
        color: #fff;
        border-color: transparent;
        
        .line{
            background-color: #fff;
        }
    }

    .software:hover{
        background-color: #67809f;
        

        .icon{
            background-color: #fff;
            color: #67809f;
        }

        .btn.btn-software{
            border-color: #fff;
            background-color: #fff;
            color: #67809f
        }
       

    }
    
    .it:hover{
        background-color: #4183d7;

        .icon{
            background-color: #fff;
            color: #4183d7;
        }

        .btn.btn-it{
            border-color: #fff;
            background-color: #fff;
            color: #4183d7;
        }
    }

    .digital:hover{
        background-color: #2ecc71;

        .icon{
            background-color: #fff;
            color: #2ecc71;
        }

        .btn.btn-digital{
            border-color: #fff;
            background-color: #fff;
            color: #2ecc71;
        }
    }

    .telecoms:hover{
        background-color: #d64541;

        .icon{
            background-color: #fff;
            color: #d64541;
        }

        .btn.btn-telecoms{
            border-color: #fff;
            background-color: #fff;
            color: #d64541;
        }
    }

    .web:hover{
        background-color: #926fb1;

        .icon{
            background-color: #fff;
            color: #926fb1;
        }

        .btn.btn-web{
            border-color: #fff;
            background-color: #fff;
            color: #926fb1;
        }
    }

    .security:hover{
        background-color: #f62459;

        .icon{
            background-color: #fff;
            color: #f62459;
        }

        .btn.btn-security{
            border-color: #fff;
            background-color: #fff;
            color: #f62459;
        }
    }


   

  

    .card.software, .card.it, .card.digital{
        @include mq('md'){
            flex: 1 1 30%;
            
        }
    }

    .card.telecoms, .card.web, .card.security{
        @include mq('sm'){
            flex: 1 45%;
            
        }
        @include mq('lg'){
            flex-basis: 20%;
        }
    }

  @include mq('md'){
      align-items: stretch;
  }

}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    border-radius: 3px;
    flex: 1 100%;
    color: #333645;
    border: 1px solid #ddd;
    box-shadow: rgba(0,0,0,.1) 0px 3px 35px 0px;
    cursor: pointer;
    margin-bottom: 30px;
    padding: 30px;

    h2{
        font-size: 1.125rem;
        position: relative;
        padding-bottom: 17px;
        margin: 0 0 11px;
        font-weight: 400;
       
    } 
    .line {
        width: 28px;
        height:3px;
        display: block;
        background-color: #333645;
        margin: 0 auto;


    }
    p{
        font-size: .8125rem;
        line-height: 1.375rem;
        margin-bottom: 13px;
        font-weight: 400;
        
    } 

    &:hover{
        text-decoration: none; 
    }
    
   
    

    // xs media queries

    @include mq('xs'){
        flex: 1 1 100%;
        max-width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        &:last-child{
            margin-bottom: 0px;
        }
    }

    //small media queries

    @include mq('sm'){
        max-width: 720px;
        flex-basis: 720px;
        padding: 30px; 
        margin-left: 15px;
        margin-right: 15px;
        &:nth-child(n+4){
            flex-basis: 345px;
            max-width: 345px;
        }
        &:nth-child(n+6){
            margin-bottom: 0;
        }
     }

     // Medium media query

     @include mq('md'){
         max-width: 293.33px;
         flex-basis: 293.33px;
         &:nth-child(n+4){
             flex-basis: 455px;
             max-width: 455px;
         }
     }

     //large media query
     @include mq('lg'){
         max-width: 370px;
         flex-basis: 370px;
         &:nth-child(n+4){
             max-width: 270px;
             flex-basis: 270px;
             margin-bottom: 0;
         }
     }


    


}
// .block {
    
    
    
    
     
    
// }

.software .icon{
    background-color: #67809f;
}

.it .icon {
    background-color: #4183d7;
}

.digital .icon{
    background-color: #2ecc71;
}

.telecoms .icon{
    background-color: #d64541;
}

.web .icon{
    background-color: #926fb1;
}

.security .icon{
    background-color: #f62459;
}
    
// .software{
//     margin-top: 0px;
    
//     @include mq('md'){
//         margin-top: 30px;
//     }
// }
// .it, .digital{

//     @include mq('md'){
//         margin-left: 30px;
//     }
// }



.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    width: 60px;
    height: 60px;
    color: #fff;
    border: 0px solid transparent;
    border-radius: 50%;
    margin: 0 auto 17px;
}










.btn.btn-software {
    color: #fff;
    background-color: #67809f;
    border-color: #67809f;

    
}

.btn.btn-it {
    color: #fff;
    background-color: #4183d7;
    border-color: #4183d7;

    
}

.btn.btn-digital{
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71;
}

.btn.btn-telecoms{
    color: #fff;
    background-color: #d64541;
    border-color: #d64541;
}

.btn.btn-web{
    color: #fff;
    background-color: #926fb1;
    border-color: #926fb1;
}

.btn.btn-security{
    color: #fff;
    background-color: #f62459;
    border-color: #f62459;
}