.map {
  height: 300px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  z-index: 0;
}



.breadcrumb-section {
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
  padding: 14px 0 13px;
  z-index: 10;
  display: block;
  border-top: 1px solid #333645;
  @include mq('xs'){
    display: none;
  }
  @include mq('xs'){
    border-top: 0;
  }
}

/* Style the list */
ul.breadcrumb {

  list-style: none;
  margin: 0;
  padding: 0;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 0.8125rem;

  color: #333645;

}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 0 5px;
  color: #333645;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #333645;
  font-weight: 700;
  text-decoration: none;
}

.contact-title-section {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #333645;
  margin-bottom: 50px;

  h1 {
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0;
    color: #fff;
    text-transform: none;
  }

  @include mq('md') {
    padding-top: 50px;
    padding-bottom: 0;
    margin-bottom: 0;
    background-color: transparent;

    h1 {
      color: #333645;
      margin: 0 0 28px;
    }
  }
}

//OFFICES
.office_container {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;

  .card {

    height: 100%;


    margin-bottom: 50px;
    border: 1px solid #ccc;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);

    @include mq('md') {
      margin-left: 15px;
      margin-right: 15px;
    }

    .contact-image {
      img {
        width: 100%;
        height: auto;
      }
    }

    .card_top {
      border-radius: 3px 3px 0 0;
      height: 100%;
      padding: 30px;
      text-align: left;



      h2 {
        margin: 0;
        margin-bottom: 15px;

        a {
          color: #333645;
          text-transform: none;
          font-size: 1.125rem;
          font-weight: 400;

          &:hover {
            text-decoration: underline;
          }
        }
      }


      p {
        margin: 0 0 10px;
        margin-bottom: 15px;
        font-size: 0.8125rem;
        line-height: 1.375rem;
        font-weight: 400;
        color: #666;
      }

      .contact-tel a {
        font-size: 1.625rem;
        font-weight: 700;
        color: #926fb1;

        &:hover {
          text-decoration: underline;
        }
      }
    }


  }

  @include mq('md') {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;


  }
}

// FORM STLYING

.form_submission {

  text-align: left;

  form {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    width: 100%;
    background-color: #e6e7e9;
    border-radius: 10px;
    padding: 30px;

    input {
      padding: 5px;
      width: 100%;
      margin-bottom: 20px;
      height: 50px;
      border-radius: 3px;
      box-shadow: none;
      border: solid 1px #ccc;
      &:focus{
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.08), 0 0 8px rgba(91, 192, 222, .6);
      }
    }

    label {
      display: inline-block;
      padding: 0 0 10px;
      margin: 0;
      font-weight: 600;
      letter-spacing: 1px;
    }

    p {
      padding: 0;
      margin: 0;
      display: inline-block;
      color: #d24d57;
    }

    .span-input {
      width: 100%;

      @include mq('lg') {
        width: 50%;

      }
    }

    input,
    label {
      color: #333645;
      font-size: 16px;
    }

    #message_input {
      resize: vertical;
      width: 100%;
      border-radius: 3px;
      border: solid 1px #ccc;
      padding: 5px;
      height: 100%;
      min-height: 100%;
      &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.08), 0 0 8px rgba(91, 192, 222, 0.6);
      }
    }

    #updates {
      display: flex;
      flex-direction: row;
      margin: 25px 0;

      .checkmark {
        margin-right: 20px;
      }

      .privacy_text {
        padding-left: 40px;
        line-height: 32px;
        cursor: pointer;
      }

      label {
        a {
          display: inline-block;
          font-size: 16px;
          color: #333645;
          text-decoration: underline;

        }
      }
    }

    .invalid {
      border: solid 1px red;
      outline-color: red;
    }

    .invalid-textarea {
      outline-color: red;
      border: solid 1px red !important;
    }

    .success {
      color: white;
      border-radius: 10px;
      background-color: #3bb143;
      display: none;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      padding: 0 20px;
      margin-bottom: 50px;

      .success_message {
        color: white;
        line-height: 60px;
      }

      i {
        color: grey;
        line-height: 60px;

        &:hover {
          color: darkslategrey;
        }
      }
    }
    .error {
      color: white;
      border-radius: 10px;
      background-color: #f2dede;
      border-color: #ebccd1;
      display: none;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      height: 60px;
      padding: 0 20px;
      margin-bottom: 50px;

      .error_message {
        color: #a94442;
        line-height: 60px;
      }

      i {
        color: #000;
        line-height: 60px;
        opacity: 0.2;

        &:hover {
          opacity: 0.5;
        }
      }
    }


    .show_pop_up {
      display: flex;
    }
    .show_pop_up_error {
      display: flex;
    }

    .send_button {
      padding: 15px;
      border-radius: 3px;
      background-color: #926fb1;
      color: white;
      font-size: 16px;
      text-transform: uppercase;
    }

    .send_button:hover {
      background-color: #7e57a0;
      border-color: #735093;
      text-decoration: none;
    }
  }

  @include mq('lg') {
    width: 63%;
  }

}

.name_container,
.telephone_container {
  @include mq('lg') {
    padding-right: 15px;
  }
}

.email_container,
.subject_container {
  @include mq('lg') {
    padding-left: 15px;
  }
}

.message_container {
  margin-bottom: 15px;

  @include mq('lg') {
    width: 100%;
    flex: 1;
  }
}

.out-of-hours-message {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 25px;
  text-align: left;

  p {
    color: #666;
    line-height: 1.875rem;
    margin-bottom: 25px;
    font-weight: 600;
    margin-top: 0;
  }

  strong {
    font-weight: 600;
    color: #333645;
  }

  @include mq('lg') {
    width: 33.3%;
  }
}

.contact-email-text {
  color: #926fb1 !important;
  font-weight: 600;
  font-size: 1.625rem;

  &:hover {
    text-decoration: underline;
  }
}

.dropdown-link {
  color: #333645;
  display: inline-block;

  p {
    display: block;

  }

  i {
    margin-left: .5rem;
  }

  &:hover {
    text-decoration: underline;
  }
}

.hidden-text {
  display: none;
  -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;

  p {
    font-weight: 400;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
  }

}

.show_hidden {
  display: block;
}

.shell-flex {
  display: flex;
  flex-direction: column-reverse;

  @include mq('lg') {
    flex-direction: row;
  }
}