


.hero-box{
    position: relative;
    border-top: 1px solid rgba(51,54,69,.5);
     
}

.hero-main {
    background-image: linear-gradient(to right, rgb(0,0,0),rgba(0,0,0,.0)), url("../img/home-3wAI.jpg");
    background-size: cover;
    background-position:center;
    height:calc(100vh - 209px);
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.hero-content{
 width: 100%;
 align-content: center;
 @include mq('sm'){
    width:750px;
}

@include mq('md'){
    width: 970px;
}

@include mq('lg'){
    width:1200px;
}
 
}

.hero-text{
    width: 100%;
    color: white;
    text-align: center;
    margin: -1px auto 0;
    h1 {
        font-size: 48px;
        font-weight: 400;
        margin: 0 0 25px 0;
    }
    p{
        font-size: 1.25rem;
        line-height: 2.25rem;
        margin: 0 0 35px;
    }
    span{
        font-weight: 400;
        line-height: 50px;
        font-size: 1.25rem;
    }
    @include mq('md'){
        text-align: left;
       
    }
}

.btn-hero {
    background-color: $purple;
    &:hover{
        background-color: $purple2;
        border-color: $purple3;
    }
}

.btn {
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.063rem;
    line-height: 35px;
    padding: 5px 15px;
    display: inline-block;
    cursor: pointer;
    
}




