#logo-section{
    display: none;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: inset 0 5px 35px -15px rgba(0,0,0,.1);

    @include mq('sm'){
        display: block;
    }
}

.container-logos{
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;

}

.logo{
    vertical-align: middle;
    padding: 0 20px;
    position: relative;

    img{   
        width: 100%;
    }
    
    &:hover{ 
        .logo-text{
        display: block;
    }

     .coloured{
        display: inline;
    }

    .grey {
        display:none;
    }
}


}

.logo-text {
    display: none;
    position: absolute;
    bottom: 100%;
    left: -200px;
    right: -200px;
    text-align: center;

    .popup-box {
        background-color: #333645;
        color: #fff;
        padding: 20px;
        font-size: .875rem;
        max-width: 260px;
        margin: 0 auto 50px;

        h3{
            position: relative;
            font-size: 1.125rem;
            padding-bottom: 17px;
            margin: 0 0 11px;
            font-weight: 400;
            
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 28px;
                height: 3px;
                display: block;
                background-color: #fff;
            }
        }

        p{
            font-size: .8125rem;
            line-height: 1.375rem;
        }
    }

    .pointer{
        position: absolute;
        bottom: 15px;
        left: 50%;
        margin-left: -36px;

        &:after{
            content: "";
            margin: auto;
            display: inline-block;
            border-color: #333645 transparent;
            border-style: solid;
            border-width: 35px 36px 0;
        }
    }
}

.coloured{
    display: none;
}