.support-btn, .contact-btn, .main-navigation{
    @include mq('md'){
        display: block;
    }
}

.phone-box{
    @include mq('sm'){
        display: none;
    }
}

@media screen and (max-width: 767px) and (-ms-high-contrast: none) {
    .logo-container {
        flex: 1 1 10%;
    }
}