.main-navigation, .inner-nav li {
    display: none;
}




@media screen and (min-width : 768px){
    .main-navigation, .inner-nav li{
        display: flex;
        width: 100%;
        
    }
    
    .inner-nav{
        display: inline-block;
    }
    
   

    .inner-nav li ul li {
        display: none;
        
        
    }
    
    .inner-nav li ul:hover li {
        display: visible;
        
        
    }

    

    .main-navigation {
        padding-top: 2em;
    }

}