.main-navigation{
    background-color: #333645;
    display: none;

    
}
.nav-box{
    padding-left: 15px;
    padding-right: 15px;
}


.inner-nav{
    
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(0,0,0,.25);

        & > li{
            flex: 1;
            text-align: center;
            border-right: 1px solid rgba(255,255,255,.1);
            border-left: 1px solid rgba(0,0,0,.25);
            display: list-item;

            & > a{
                position: relative;
                display: block;
                color: #fff;
                padding: 19px 0 18px;
                text-transform: uppercase;
                font-size: 1.125rem;
                line-height: 1;
                text-decoration: none;

                small{
                    display: block;
                    font-size: .625rem;
                    padding-bottom: 2px;
                }

                i{
                    font-size: 1.2rem;
                    display: block;
                    padding-bottom: 12px;
                }

            }

            
                
        }
    

    .nav-submenu a{
        @include mq('lg'){
            font-size: 1rem;
        }
    }
}

.navweb {
    
    ul{
        background-color: #79539a;

        &::before{
            background-color: #79539a;
        }

        &::after{
            background-color: #79539a;
        }
    }
    
    i{
    color:#926fb1;
}
    &:hover{
        background-color: #926fb1;

        i{
            color: #fff;
        }

        ul{
            display: block;
        }
    }
}

.nav-it {
    
    ul{
        background-color: #286abd;

        &::before{
            background-color: #286abd;
        }

        &::after{
            background-color: #286abd;
        }
    }
    
    i{
    color:#4183d7;
}
    &:hover{
        background-color: #4183d7;

        i{
            color: #fff;
        }

        ul{
            display: block;
        }
    }
}

.nav-tc {
    
    ul{
        background-color: #bc2c28;

        &::before{
            background-color: #bc2c28;
        }

        &::after{
            background-color: #bc2c28;
        }
    }
    
    i{
    color:#d64541;
}
    &:hover{
        background-color: #d64541;

        i{
            color: #fff;
        }

        ul{
            display: block;
        }
    }
}

.nav-bs {
    
    ul{
        background-color: #526781;

        &::before{
            background-color: #526781;
        }

        &::after{
            background-color: #526781;
        }
    }
    
    i{
    color:#67809f;
}
    &:hover{
        background-color: #67809f;

        i{
            color: #fff;
        }

        ul{
            display: block;
        }
    }
}

.nav-dm {
    
    ul{
        background-color: #25a25a;

        &::before{
            background-color: #25a25a;
        }

        &::after{
            background-color: #25a25a;
        }
    }
    
    i{
    color:#2ecc71;
}
    &:hover{
        background-color: #2ecc71;

        i{
            color: #fff;
        }

        ul{
            display: block;
        }
    }
}

.nav-cyber {
    
    ul{
        background-color: #de093f;

        &::before{
            background-color: #de093f;
        }

        &::after{
            background-color: #de093f;
        }
    }
    
    i{
    color:#f62459;
}
    &:hover{
        background-color: #f62459;

        i{
            color: #fff;
        }

        ul{
            display: block;
        }
    }
}


.nav-submenu{
    padding: 0 15px;
    display: none;
    position: absolute;
    top: 100%;
    left: -15px;
    right: -15px;
    z-index: 10;
    list-style: none;

    li{
        float: left;
        font-size: .8125rem;
        text-transform: uppercase;
        line-height:2.813rem;
        
        a{
            text-decoration: none;
            color: #fff;
        }

        &:not(:first-child){
            padding-left: 20px;
            
            @include mq('lg'){
                padding-left: 30px;
            }
        }

        &:not(:last-child){        
                   
            &::after{
            content: "-";
            padding-left: 20px;
            color: #fff;

            @include mq('lg'){
                padding-left: 30px;
            }
        }
    }
}

    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width:2000px;
    }

    &::after{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width:2000px;
    }
}