#main-body{
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    
    height: 100vh;
    z-index: 1;
    background-color: #fff;
    transition: .2s ease all;
    right: 0;

    &.sidebar-shown {
        height: 100vh;
        overflow: hidden;
    }
    &.slide-in{
        right: 275px;
        @include mq('lg') {
            right: 350px;
        }
    }
}


#overlay {
    display: none;
    right: 0;
    transition: .2s ease all;
    &.shown {
        display: block;
        background-color: rgba(0,0,0,.4);
        z-index: 10;
        position: fixed;
        width: 100%;
        height: 100vh;
        cursor: pointer;
    }
    &.slide-in {
        right: 275px;
        @include mq('lg') {
            right: 350px
        }
    }
}


#overlay2 {
    display: none;
    right: 0;
    transition: .2s ease all;
    &.shown {
        display: block;
        background-color: rgba(0,0,0,.4);
        z-index: 10;
        position: fixed;
        width: 100%;
        height: 100vh;
        cursor: pointer;
    }
    &.slide-in {
        right: 275px;
        @include mq('lg') {
            right: 350px
        }
    }
}

#sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: -275px;
    width: 275px;
    height: 100%;
    z-index: 100;
    background-color: #333645;
    overflow: auto;
    transition: .2s ease all;
    @include mq('lg') {
        right: -350px;
        width: 350px;
    }
    &.shown {
        display: block;
    }
    &.slide-in {
        right: 0;
    }
}


.main-sidebar-nav{
    padding: 21px;
    & > ul {
        margin-top: -20px;
       
        & > li {
            padding: 20px 0 0;

            &:hover > a{
              background-color: hsla(0,0%,100%,0.05);
            }
        }
    }
    @include mq('lg') {
        display: none;
    }
}

.sidebar-main-nav-button {
    font-size: 1.125rem;
    padding: 19px 0 18px;
    border-radius: 3px;
    outline: 1px solid rgba(0,0,0,.25);
    border: 1px solid hsla(0,0%,100%,.1);
    display: block;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    * {
        display: block;
    }
    i {
        padding-bottom: 10px;
        font-size: 1.438rem;
    }
    small {
        font-size: .625rem;
        padding-bottom: 5px;
    }
}

.sidebar-submenu {
    margin-top: 20px;
    border-radius: 3px;
    padding: 0;
    li {
        &:not(:first-child){
            border-top: 1px solid rgba(0,0,0,.45);
            a {
                border-top: 1px solid hsla(0,0%,100%,.05);
            }
        }
        a {
        display: block;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
        background-color: rgba(0,0,0,.25);
        line-height: 1.5;
        }
    }
}


#side {
    &-web i {
        color: $purple;
    }
    &-it i {
        color: $blue;
    }
    &-telecoms i {
        color: $red;
    }
    &-software i {
        color: $dark-blue;
    }
    &-marketing i {
        color: $green;
    }
    &-security i {
        color: $pink;
    }
}


.sec-sidebar-nav {
    ul {
        border-top: 1px solid rgba(0,0,0,.25);
        padding: 0;
        margin: 0;
        li a {
            display: block;
            color: #fff;
            padding: 20px;
            text-transform: uppercase;
            font-size: 1rem;
            line-height: 1;
            position: relative;
            background: transparent;
        }
        ul > li > a {
            border-top: 1px solid hsla(0,0%,100%,.05);
            background-color: rgba(0,0,0,.25);
            padding: 15px 20px;
            text-transform: uppercase;
            font-size: .875rem;
            line-height: 1.5;
        }
    }
}


.second-menu-item a::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f101";
    padding-right: 15px;
    font-size: .5rem;
    margin-top: -5px;
}

.submenu-heading {
    border-top: 1px solid hsla(0,0%,100%,.1);
}




.sec-sidebar-nav > ul > li:hover > a {
    background-color: hsla(0,0%,100%,0.05);

}
