$white: #fff;
$purple: #926FB1;
$purple2: #7e57a0;
$purple3: #735093;
$dark-blue: #67809f;
$dark-blue-2: #526781;
$blue: #4183d7;
$blue-2: #286abd;
$green: #2ecc71;
$green-2: #25a25a;
$red: #d64541;
$red-2: #bc2c28;
$pink: #f62459;
$pink-2: #de093f;
$button-grey: #999aa2;