* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  letter-spacing: .4px;
  overflow-x: hidden;
}

h1 {
  text-transform: uppercase;
  color: white;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.main-navigation, .inner-nav li {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-navigation, .inner-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .inner-nav {
    display: inline-block;
  }
  .inner-nav li ul li {
    display: none;
  }
  .inner-nav li ul:hover li {
    display: visible;
  }
  .main-navigation {
    padding-top: 2em;
  }
}

.hero-box {
  position: relative;
  border-top: 1px solid rgba(51, 54, 69, 0.5);
}

.hero-main {
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))), url("../img/home-3wAI.jpg");
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)), url("../img/home-3wAI.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 209px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 768px) {
  .hero-content {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .hero-content {
    width: 970px;
  }
}

@media (min-width: 1260px) {
  .hero-content {
    width: 1200px;
  }
}

.hero-text {
  width: 100%;
  color: white;
  text-align: center;
  margin: -1px auto 0;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 400;
  margin: 0 0 25px 0;
}

.hero-text p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin: 0 0 35px;
}

.hero-text span {
  font-weight: 400;
  line-height: 50px;
  font-size: 1.25rem;
}

@media (min-width: 992px) {
  .hero-text {
    text-align: left;
  }
}

.btn-hero {
  background-color: #926FB1;
}

.btn-hero:hover {
  background-color: #7e57a0;
  border-color: #735093;
}

.btn {
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 1.063rem;
  line-height: 35px;
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
}

.card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.card-row .block.software:hover {
  background-color: #67809f;
}

.card-row .block.software:hover .icon {
  background-color: #fff;
  color: #67809f;
}

.card-row .block.software:hover .btn.btn-software {
  border-color: #fff;
  background-color: #fff;
  color: #67809f;
}

.card-row .block.it:hover {
  background-color: #4183d7;
}

.card-row .block.it:hover .icon {
  background-color: #fff;
  color: #4183d7;
}

.card-row .block.it:hover .btn.btn-it {
  border-color: #fff;
  background-color: #fff;
  color: #4183d7;
}

.card-row .block.digital:hover {
  background-color: #2ecc71;
}

.card-row .block.digital:hover .icon {
  background-color: #fff;
  color: #2ecc71;
}

.card-row .block.digital:hover .btn.btn-digital {
  border-color: #fff;
  background-color: #fff;
  color: #2ecc71;
}

.card-row .block.telecoms:hover {
  background-color: #d64541;
}

.card-row .block.telecoms:hover .icon {
  background-color: #fff;
  color: #d64541;
}

.card-row .block.telecoms:hover .btn.btn-telecoms {
  border-color: #fff;
  background-color: #fff;
  color: #d64541;
}

.card-row .block.web:hover {
  background-color: #926fb1;
}

.card-row .block.web:hover .icon {
  background-color: #fff;
  color: #926fb1;
}

.card-row .block.web:hover .btn.btn-web {
  border-color: #fff;
  background-color: #fff;
  color: #926fb1;
}

.card-row .block.security:hover {
  background-color: #f62459;
}

.card-row .block.security:hover .icon {
  background-color: #fff;
  color: #f62459;
}

.card-row .block.security:hover .btn.btn-security {
  border-color: #fff;
  background-color: #fff;
  color: #f62459;
}

.card-row .block:hover {
  color: #fff;
  border-color: transparent;
}

.card-row .block:hover .line {
  background-color: #fff;
}

@media (min-width: 992px) {
  .card-row .card.software, .card-row .card.it, .card-row .card.digital {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
}

@media (min-width: 768px) {
  .card-row .card.telecoms, .card-row .card.web, .card-row .card.security {
    -webkit-box-flex: 1;
        -ms-flex: 1 45%;
            flex: 1 45%;
  }
}

@media (min-width: 1260px) {
  .card-row .card.telecoms, .card-row .card.web, .card-row .card.security {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

.card {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  color: #333645;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.card h2 {
  font-size: 1.125rem;
  position: relative;
  padding-bottom: 17px;
  margin: 0 0 11px;
}

.card .line {
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
  margin: 0 auto;
}

.card p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .card:last-child {
    margin-bottom: 0px;
  }
}

.block {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 30px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.software .icon {
  background-color: #67809f;
}

.it .icon {
  background-color: #4183d7;
}

.digital .icon {
  background-color: #2ecc71;
}

.telecoms .icon {
  background-color: #d64541;
}

.web .icon {
  background-color: #926fb1;
}

.security .icon {
  background-color: #f62459;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 23px;
  width: 60px;
  height: 60px;
  color: #fff;
  border: 0px solid transparent;
  border-radius: 50%;
  margin: 0 auto 17px;
}

.btn.btn-software {
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
}

.btn.btn-it {
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
}

.btn.btn-digital {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.btn.btn-telecoms {
  color: #fff;
  background-color: #d64541;
  border-color: #d64541;
}

.btn.btn-web {
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
}

.btn.btn-security {
  color: #fff;
  background-color: #f62459;
  border-color: #f62459;
}
/*# sourceMappingURL=style.css.map */