.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  letter-spacing: .4px;
  overflow-x: hidden;
}

h1 {
  text-transform: uppercase;
  color: white;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-navigation, .inner-nav li {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-navigation, .inner-nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .inner-nav {
    display: inline-block;
  }
  .inner-nav li ul li {
    display: none;
  }
  .inner-nav li ul:hover li {
    display: visible;
  }
  .main-navigation {
    padding-top: 2em;
  }
}

.hero-box {
  position: relative;
  border-top: 1px solid rgba(51, 54, 69, 0.5);
}

.hero-main {
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(rgba(0, 0, 0, 0))), url("../img/home-3wAI.jpg");
  background-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)), url("../img/home-3wAI.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 209px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content {
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero-text {
  width: 100%;
  color: white;
  text-align: center;
  margin: -1px auto 0;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 400;
  margin: 0 0 25px 0;
}

.hero-text p {
  font-size: 1.25rem;
  line-height: 2.25rem;
  margin: 0 0 35px;
}

.hero-text span {
  font-weight: 400;
  line-height: 50px;
  font-size: 1.25rem;
}

.btn-hero {
  background-color: #926FB1;
}

.btn-hero:hover {
  background-color: #7e57a0;
  border-color: #735093;
}

.btn {
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 1.063rem;
  line-height: 35px;
  padding: 5px 15px;
  display: inline-block;
  cursor: pointer;
}

#middle {
  position: absolute;
}

.card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card-row .block.software:hover {
  background-color: #67809f;
}

.card-row .block.software:hover .icon-apps {
  background-color: #fff;
  color: #67809f;
}

.card-row .block.software:hover .btn.btn-software {
  border-color: #fff;
  background-color: #fff;
  color: #67809f;
}

.card-row .block:hover {
  color: #fff;
  border-color: transparent;
}

.card-row .block:hover .line {
  background-color: #fff;
}

.card {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  color: #333645;
  text-align: center;
}

.card h2 {
  font-size: 1.125rem;
  position: relative;
  padding-bottom: 17px;
  margin: 0 0 11px;
}

.card .line {
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
  margin: 0 auto;
}

.card p {
  font-size: .8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
}

@media (max-width: 767px) {
  .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  .card:last-child {
    margin-bottom: 0px;
  }
}

.block {
  margin-top: 30px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 30px;
  -webkit-box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
}

.icon-apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 23px;
  width: 60px;
  height: 60px;
  background-color: #67809f;
  border: 0px solid transparent;
  border-radius: 50%;
  margin: 0 auto 17px;
  color: #fff;
}

.btn.btn-software {
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
}
/*# sourceMappingURL=style.css.map */